
  <div class="row">
        <div class="span6">
    <span id='patient_name'><%= (@record.first + ' ' + @record.last).html_safe %></span>

    <br>
      <%= sex(@record) %><br>
      <%= display_age(@record.birthdate).html_safe %> <br>
    </div>
    <div class="span6">        
        <%= labeled_field 'BMI',  latest_matching_vital(@record, 'BMI')%>
        <%= labeled_field 'Heart Rate',  latest_matching_vital(@record, 'Heart Rate')%>
        <%= labeled_field 'Systolic BP',  latest_matching_vital(@record, 'Systolic')%>
        <%= labeled_field 'Diastolic BP',  latest_matching_vital(@record, 'Diastolic')%>
       
</div>
  </div>
  <div class="row">
    <div class="span6">
      <%= render :layout => "section", :locals => {:record => @record, :section => :studies} do |x| %>
        <%= link_to x.description, images_path(@record.medical_record_number, x, format: 'atom') %><br>
      <% end %>    </div>
		<div class="span6">
			<%= render :layout => "section", :locals => {:record => @record, :section => :immunizations} do |x| %>
				<% refused = x['refusalInd'] ? 'Refused ' : '' %>
				<%= labeled_field refused + x['description'], date(x['time']) %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<%= render :layout => "section", :locals => {:record => @record, :section => :allergies} do |x| %>
				<%= labeled_field (x['description'] || 'no recorded allergy'), date(x['start_time']) + ' - ' + date(x['end_time'],'present')  %>
			<% end %>
		</div>
		<div class="span6">
			<%= render :layout => "section", :locals => {:record => @record, :section => :medications} do |x| %>
				<% labeled_field x['description'], date(x['start_time']) + ' - ' + date(x['end_time'],'present')  %>
			<% end %>
		</div>
	</div>
  <div class="row">
  	<div class="span6">
        <%= render :layout => "section", :locals => {:record => @record, :section => :conditions} do |x| %>
          <%= labeled_field x['description'], date(x['start_time']) %>
        <% end %>
		</div>
		<div class="span6">
        <%= render :layout => "section", :locals => {:record => @record, :section => :results} do |x| %>
          <%= labeled_field(x['description'] + show_values(x.values), date(x['time'])) %>
        <% end %>
		</div>
	</div>
	
  <div class="row">
  	<div class="span6">
       <%= render :layout => "section", :locals => {:record => @record, :section => :encounters} do |x| %>
        <%= labeled_field (x['description'] || 'Order'), date(x['time']) %>
        <% end %>
		</div>
		<div class="span6">
        <%= render :layout => "section", :locals => {:record => @record, :section => :procedures} do |x| %>
          <%= labeled_field x['description'], date(x['time']) %>
        <% end %>
		</div>
	</div>

  <div class="row">
  	<div class="span6">
        <%= render :layout => "section", :locals => {:record => @record, :section => :vital_signs} do |x| %>
          <%= labeled_field("#{x['description']} #{show_values(x.values)}", date(x['time'])) %>
        <% end %>
</div>

</div>
  <div class="footer">Last updated on <%= @record.updated_at.try(:strftime, "%m/%d/%Y") %> by <a href='link'>Dr Rick Jones</a> (<%=link_to "Refresh", record_path(@record.medical_record_number), method: :get %>)</div>
