<%= form_for(@ref_consult_request, :html=>{:class=>"form-horizontal form-set"}) do |f| %>
  <% if @ref_consult_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ref_consult_request.errors.count, "error") %> prohibited this ref_consult_request from being saved:</h2>

      <ul>
      <% @ref_consult_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user, :class=>"control-label" %>
    <div class="controls"><%= f.text_field :user, :value => @current_user.email %></div>
  </div>

    <div class="control-group">
      <%= f.label :Date, :class=>"control-label" %>
      <div class="controls"><p><%= @ref_consult_request.refDate %></p></div>
      <%= f.hidden_field :refDate, :value => @ref_consult_request.refDate %>
    </div>
    <div class="control-group">
      <%= f.label "Status", :class=>"control-label" %>
      <div class="controls"><p><%= @ref_consult_request.status %></p></div>
    </div> 
		<div class="control-group">
			<%= f.label :refNumber, :class=>"control-label" %>
			<div class="controls"><p><%= @ref_consult_request.refNumber %></p></div>
			<%= f.hidden_field :refNumber, :value => @ref_consult_request.refNumber %>
  	</div> 
		<div class="control-group">
    	<%= f.label :priority, :class=>"control-label" %>
    	<div class="controls"><%= f.select :priority, RefConsultRequest.get_priority_values,   :prompt => 'Select...' %> </div>
		</div> 
		<div class="control-group">
   		<%= f.label "Reason", :class=>"control-label" %>
			<div class="controls"><%= f.text_field :reasonText %> </div>
		</div> 

	  <%= f.hidden_field :patientRecordId, :value => @ref_consult_request.patientRecordId %>
  	<div class="control-group">
	    <%= f.label "Patient Name", :class=>"control-label" %>
  	 	<div class="controls"><p><%= (@record.last.upcase + ',&nbsp;' + @record.first).html_safe  if @record %></p></div>
	  </div> 
		<div class="control-group">
		 <%= f.label "Insurance", :class=>"control-label" %>
		 <div class="controls"><p><span class="muted">--</span></p></div>
		</div> 
		<div class="control-group">
			<%= f.label "Gender", :class=>"control-label" %>
 			<div class="controls"><p><%= (@record.gender).html_safe   if @record %></p></div>
		</div> 
  <div class="control-group">
 		<%= f.label "Age", :class=>"control-label" %>
		<div class="controls"><p><%= display_age(@record.birthdate).html_safe if @record %></p></div>
	</div>
  <div class="control-group">
    <%= f.label "Conditions", :class=>"control-label" %>
    <div class="controls"><%= f.select :reasonConditionId, [ "DJD/Osteoarthritis, spine", "Diabetes Mellitus, Non-Insulin Dependent"],   :prompt => 'Select...' %> </div>
	</div> 
	<div class="control-group">
  	<%= f.label "Specialty", :class=>"control-label" %>
  	<div class="controls"><%= f.select :requestedSpecialty,  RefConsultRequest.get_requestedSpecialty_values,   :prompt => 'Select Specialty...' %> </div>
	</div> 
	<div class="control-group">
  	<%= f.label "Specialist", :class=>"control-label" %>
  	<div class="controls"><%= f.select :requestedConsultingProviderId, [ "Dr. Bill Schwartz", "Dr. Tom Jones"],   :prompt => 'Select...' %> </div>
	</div> 
  <div class="control-group">
    <%= f.label :Description, :class=>"control-label" %>
    <div class="controls"><%= f.text_area :reasonDescription, :rows => "5", :class=>"input input-xxlarge"  %></div>
  </div> 
  <div class="form-actions">
    <%= f.submit 'Submit', :disable_with => "creating now...", :class=>"btn btn-primary" %>
    <%= link_to 'Cancel', ref_consult_requests_path, :class=>"btn" %>
	</div>

<% end %> 
