<% if notice %><p id="notice" class="alert alert-info"><%= notice %></p><% end %>

<h4>Consult Request</h4>
<table class="table">
	<tr>
		<td>ID: <%= @ref_consult_request.reasonConditionId %> </td>
	  <td>Ref Number: <%= @ref_consult_request.refNumber %></td>
	  <td>Status: <%= @ref_consult_request.status %> </td>
	</tr>
</table>

<p>
Your consult request has been submitted for authorization by the insurance provider.
Once authorized, it will be sent to Dr. Mary Miller. Jane Smith will be notified of
the consult request as well.
</p>


<table class="table table-condensed table-noborders">
	<tbody>
  	<tr>
      <td style="width:10em"><strong>Date</strong></td>
      <td><%= @ref_consult_request.refDate %> </td>
	  </tr> 
		<tr>
    	<td><strong>Priority</strong></td>
    	<td><%= @ref_consult_request.priority  %> </td>
		</tr>
		<tr>
			<td><strong>Reason</strong></td> 
			<td><%= @ref_consult_request.reasonText %> </td> 
		</tr>
		<tr>
   		<td><strong>Patient Name</strong></td>
  		<td><%= (@record.last.upcase + ',&nbsp;' + @record.first).html_safe   if @record %></td>
		</tr>
		<tr>
			<td><strong>Insurance</strong></td>
			<td><span class="muted">--</span></td> 
		</tr>
		<tr>
			<td><strong>Gender</strong></td>
			<td><%= (@record.gender).html_safe  if @record %></td> 
		</tr>
		<tr>
			<td><strong>Age</strong></td>
			<td><%= display_age(@record.birthdate).html_safe   if @record %></td> 
		</tr>
		<tr>
			<td><strong>Conditions</strong></td>
			<td><%= @ref_consult_request.reasonConditionId %> </td> 
		</tr>
		<tr>
			<td><strong>Specialty</strong></td>
			<td><%= @ref_consult_request.requestedSpecialty %> </td> 
		</tr>
		<tr>
			<td><strong>Specialist</strong></td>
			<td><%= @ref_consult_request.requestedConsultingProviderId %> </td> 
		</tr>
		<tr>
    	<td><strong>Description</strong></td>
    	<td><%= @ref_consult_request.reasonDescription %></td> 
		</tr>
	</tbody>
</table>
<p>
	<%= link_to 'Edit', edit_ref_consult_request_path(@ref_consult_request), :class=>"btn btn-primary" %>
	<%= link_to 'Close', ref_consult_requests_path, :class=>"btn" %>
</p>