<h1><%= @record.first %> <%= @record.last %> <%= @study.description %></h1>
<% @images.each do |image| %>
  <h3><%= image.series_description %> #<%= image.instance_number %></h3>
  <img src="<%= "#{url_for}/#{image.id}.jpg" %>">
<% end %>
